
@{
    ViewBag.Title = "Linha VMK Plásticos - Taças - Vermelho Neon Cristal";
}

<section class="post-wrapper-top dm-shadow">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="breadcrumb">
                <li><a href="">Home</a></li>
                <li>Linha VMK</li>
                <li>Taças</li>
                <li>Vermelho Neon Cristal</li>
            </ul><!-- end breadcrumb -->
            <h2>Taças - Vermelho Neon Cristal</h2>
        </div><!-- end col-12 -->
    </div><!-- end container -->
</section><!-- end post-wrapper-top -->

<section class="section-single">
    <div class="container">
        <div class="fullwidth-post-wrapper col-lg-12">
            <div class="general_wrapper clearfix">
                <div class="general_wrapper clearfix">
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 first clearfix">
                        <div class="shop-img">
                            <a rel="prettyPhoto[product-gallery]" title="" href="~/Content/images/products/taca-vermelhoneoncristal.jpg">
                                <div class="entry">
                                    <img class="img-thumbnail" src="~/Content/images/products/taca-vermelhoneoncristal.jpg" alt="">
                                    <span class="magnifier"></span>
                                </div>
                            </a>
                        </div>
                        <div class="thumbnails text-center">
                            <a class="first" rel="prettyPhoto[product-gallery]" title="" href="~/Content/images/products/taca-cristal-2.jpg">
                                <div class="entry">
                                    <img class="img-thumbnail" src="~/Content/images/products/taca-cristal-2.jpg" alt="">
                                    <span class="magnifier"></span>
                                </div>
                            </a>
                            <a rel="prettyPhoto[product-gallery]" title="" href="~/Content/images/products/taca-cristal-3.jpg">
                                <div class="entry">
                                    <img class="img-thumbnail" src="~/Content/images/products/taca-cristal-3.jpg" alt="">
                                    <span class="magnifier"></span>
                                </div>
                            </a>
                        </div>
                    </div><!-- end col-lg-4 -->

                    <div class="portfolio_details  col-lg-5 col-md-5 col-sm-12 clearfix">
                        <div class="widget-title"><h3>Detalhes</h3><hr></div>
                        <p>As taças fabricadas pela VMK Plásticos possuem a mais alta tecnologia para criação e desenvolvimento. A taça com material cristal se destaca pela sua cor suave e pode ser utilizado em qualquer ocasião.</p>
                        <hr>
                        <ul>
                            <li class="release">Prazo para Fabricação: <span> 48 horas</span></li>
                            <li class="release">Quantidade mínima: <span> Caixa com 150 unidades</span></li>
                        </ul>
                        <hr>
                        <a class="btn btn-primary" href="@Url.Action(actionName: "Index", controllerName: "Budget")"><i class="fa fa-usd" style="margin-right: 5px;"></i> FAZER ORÇAMENTO</a>

                    </div><!-- end col-lg-8 -->

                    <div class="clearfix"></div>
                    <hr class="dm">

                    <div class="section-title text-center">
                        <h2 class="bigtitle">Produtos Relacionados</h2>
                        <h4 class="lead">Temos uma linha completa de taças para você </h4>
                        <hr>
                    </div>

                    <div class="general_wrapper clearfix">
                        <div id="owl-portfolio" class="owl-carousel">
                            <div class="item">
                                <a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "AzulRoyalCristal", line= "Tacas" })">
                                    <div class="entry">
                                        <img src="~/Content/images/products/taca-azulroyalcristal.jpg" class="lazyOwl" alt="" data-src="/Content/images/products/taca-azulroyalcristal.jpg" style="display: block;">
                                        <span class="magnifier"></span>
                                    </div>
                                </a>
                                <div class="image-caption text-center">
                                    <h3><a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "AzulRoyalCristal", line= "Tacas" })">Taças - Azul Royal Cristal</a></h3>
                                </div><!-- image caption -->
                            </div>
                            <div class="item">
                                <a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "PretoCristal", line="Tacas"})">
                                    <div class="entry">
                                        <img src="~/Content/images/products/taca-pretocristal.jpg" class="lazyOwl" alt="" data-src="/Content/images/products/taca-pretocristal.jpg" style="display: block;">
                                        <span class="magnifier"></span>
                                    </div>
                                </a>
                                <div class="image-caption text-center">
                                    <h3><a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "PretoCristal", line="Tacas"})">Taças - Preto Cristal</a></h3>
                                </div><!-- image caption -->
                            </div>
                            <div class="item">
                                <a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "RoxoCristal", line="Tacas"})">
                                    <div class="entry">
                                        <img src="~/Content/images/products/taca-roxocristal.jpg" class="lazyOwl" alt="" data-src="/Content/images/products/taca-roxocristal.jpg" style="display: block;">
                                        <span class="magnifier"></span>
                                    </div>
                                </a>
                                <div class="image-caption text-center">
                                    <h3><a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "RoxoCristal", line= "Tacas" })">Taças - Roxo Cristal</a></h3>
                                </div><!-- image caption -->
                            </div>
                            <div class="item">
                                <a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "VermelhoNeonCristal", line="Tacas"})">
                                    <div class="entry">
                                        <img src="~/Content/images/products/taca-vermelhoneoncristal.jpg" class="lazyOwl" alt="" data-src="/Content/images/products/taca-vermelhoneoncristal.jpg" style="display: block;">
                                        <span class="magnifier"></span>
                                    </div>
                                </a>
                                <div class="image-caption text-center">
                                    <h3><a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "VermelhoNeonCristal", line= "Tacas" })">Taças - Vermelho Neon Cristal</a></h3>
                                </div><!-- image caption -->
                            </div>
                        </div>
                    </div>
                </div><!-- end owl-portfolio -->
            </div><!-- end general_wrapper -->
        </div>
    </div>
</section>















