@{
    ViewBag.Title = "VMK Plásticos";
}

<section class="section-slider">
    <div id="slider-wrapper">
        <div id="layerslider" style="width:100%;height:600px;">
            <div class="ls-slide" data-ls="slidedelay:6000;transition2d:75,79;">
                <img src="~/Content/sliderimages/01_bg.png" class="ls-bg" />
                <p class="ls-l ls01" style="
                   top:35%;
                   left:35%;
                   height:auto;
                   padding: 45px 45px;
                   font-size:65px;
                   line-height:44px;
                   color:#ffffff;
                   border-radius:5px;
                   white-space: nowrap;"
                   data-ls="durationin:5000;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:300;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    VMK PLÁSTICOS
                </p>
                <h1 class="ls-l" style="
                    top:60%;
                    left:40%;
                    font-weight: 300;
                    font-size:45px;
                    color:#ffffff;
                    white-space: nowrap;"
                    data-ls="durationin:5000;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:300;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    Taças, canecas, long drink e copos
                </h1>
            </div><!-- end first slide -->
            <div class="ls-slide" data-ls="slidedelay:6000;transition2d:11;">
                <img src="~/Content/sliderimages/02_bg.png" class="ls-bg" alt="Slide background" />
                <p class="ls-l ls01" style="
                   top:35%;
                   left:35%;
                   height:auto;
                   padding-top: 45px;
                   padding-bottom: 45px;
                   padding-right: 20px;
                   padding-left: 20px;
                   font-size:65px;
                   line-height:44px;
                   color:#ffffff;
                   border-radius:5px;
                   white-space: nowrap;"
                   data-ls="durationin:5000;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:300;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    KA EMBALAGENS
                </p>
                <h1 class="ls-l ls01" style="
                    top:60%;
                    left:50%;
                    font-weight: 300;
                    height:auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-right: 20px;
                    padding-left: 20px;
                    font-size:45px;
                    color:#ffffff;
                    white-space: nowrap;
                    border-radius:5px;"
                    data-ls="durationin:5000;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:300;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    Potes, frascos pequenos, grandes e conta gotas
                </h1>
            </div><!-- end slide 2 -->

            <div class="ls-slide" data-ls="slidedelay:6000;transition2d:11;">
                <img src="~/Content/sliderimages/03_bg.png" class="ls-bg" alt="Slide background" />

                <p class="ls-l ls01" style="
                   top:35%;
                   left:50%;
                   height:40px;
                   padding: 45px 45px;
                   font-size:65px;
                   line-height:44px;
                   white-space: nowrap;"
                   data-ls="durationin:5000;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    INOVAÇÃO EM NOSSOS PRODUTOS
                </p>

                <p class="ls-l ls01" style="
                   top:60%;
                   left:55%;
                   height:40px;
                   padding: 45px 45px;
                   font-size:45px;
                   line-height:44px;
                   white-space: nowrap;"
                   data-ls="durationin:5000;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                    FAÇA SEU ORÇAMENTO!
                </p>
            </div><!-- end second slider -->
        </div><!-- layerslider -->
    </div><!-- slider-wrapper -->
</section><!-- end section-slider -->

<section class="section-colorizedbg">
    <div class="container">
        <div class="service_shadow col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="servicebox">
                <div class="service-icon" data-effect="helix">
                    <i class="dm-icon fa fa-check-circle fa-4x"></i> 
                </div>
                <div class="servicetitle">
                    <h3>QUALIDADE</h3>
                    <hr>
                </div>
                <p>Nossos produtos são produzidos pela mais alta tecnologia em fabricação de embalagens plásticas</p>
            </div>
        </div>

        <div class="service_shadow col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="servicebox">
                <div class="service-icon" data-effect="helix">
                    <i class="dm-icon fa fa-beer fa-4x"></i>
                </div>
                <div class="servicetitle">
                    <h3>VARIEDADES</h3>
                    <hr>
                </div>
                <p>Veja a nossa linha completa de embalagens plásticas e faça um orçamento conosco</p>
            </div>
        </div>

        <div class="service_shadow col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="servicebox">
                <div class="service-icon" data-effect="helix">
                   <i class="dm-icon fa fa-cog fa-4x"></i>
                </div>
                <div class="servicetitle">
                    <h3>FABRICAÇÃO</h3>
                    <hr>
                </div>
                <p>Fabricamos diversos modelos de copos, taças, frascos e canecas para atender a sua necessidade</p>
            </div>
        </div>

        <div class="service_shadow col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="servicebox">
                <div class="service-icon" data-effect="helix">
                   <i class="dm-icon fa fa-tint fa-4x"></i>
                </div>
                <div class="servicetitle">
                    <h3>CORES</h3>
                    <hr>
                </div>
                <p>São diversas opções de estilos, cores e customizações que você pode escolher para os nossos produtos </p>
            </div>
        </div>
    </div><!-- end container -->
</section><!-- end section-colorizedbg -->

<section class="section-whitebg bg4 dm-shadow">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="bigtitle">A melhor solução em <span class="rotate">Embalagens, Copos, Taças, Canecas, Frascos</span> para você!</h2>
            <h4 class="lead">Se você está procurando por soluções em embalagens plásticas, você está no lugar certo!</h4>
            <hr>
        </div><!-- end section-title -->

        <div class="general_wrapper clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
                    <div class="miniservice">
                        <div class="valign">
                            <div class="miniicon">
                                <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;">]<i class="fa fa-eye"></i></span>
                            </div>
                            <div class="desc">
                                <h4>INOVAÇÃO</h4>
                                <p>Nosso foco é você por isso sempre temos novidades em nossos produtos</p>
                            </div>
                        </div><!-- valign -->
                    </div><!-- end miniservice -->
                </div><!-- col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
                    <div class="miniservice">
                        <div class="valign">
                            <div class="miniicon">
                                <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><i class="fa fa-glass"></i></span>
                            </div>
                            <div class="desc">
                                <h4>VARIEDADE</h4>
                                <p>Com um amplo catálogo de produtos procuramos atender o que você precisa</p>
                            </div>
                        </div><!-- valign -->
                    </div><!-- end miniservice -->
                </div><!-- col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
                    <div class="miniservice">
                        <div class="valign">
                            <div class="miniicon">
                                <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><i class="fa fa-eye"></i></span>
                            </div>
                            <div class="desc">
                                <h4>RESPONSABILIDADE</h4>
                                <p>Nossa empresa é rigorosa com prazos e qualidade de nossos produtos</p>
                            </div>
                        </div><!-- valign -->
                    </div><!-- end miniservice -->
                </div><!-- col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
                    <div class="miniservice">
                        <div class="valign">
                            <div class="miniicon">
                                <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><i class="fa fa-heart-o"></i></span>
                            </div>
                            <div class="desc">
                                <h4>TECNOLOGIA</h4>
                                <p>Possuímos a mais alta tecnologia para fabricação dos nossos produtos</p>
                            </div>
                        </div><!-- valign -->
                    </div><!-- end miniservice -->
                </div><!-- col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 first">
                    <div class="miniservice">
                        <div class="valign">
                            <div class="miniicon">
                                <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><i class="fa fa-check"></i></span>
                            </div>
                            <div class="desc">
                                <h4>SATISFAÇÃO</h4>
                                <p>Nosso objetivo é a sua satisfação e procuramos sempre a qualidade em nossos produtos.</p>
                            </div>
                        </div><!-- valign -->
                    </div><!-- end miniservice -->
                </div><!-- col-lg-6 -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 last">
                    <div class="miniservice">
                        <div class="valign">
                            <div class="miniicon">
                                <span data-effect="helix" class="effect-helix in" style="transition: all 0.7s ease-in-out;"><i class="fa fa-bar-chart-o"></i></span>
                            </div>
                            <div class="desc">
                                <h4>EXPERIÊNCIA</h4>
                                <p>Com mais de 15 anos de experiência no ramo podemos lhe proporcionar o melhor</p>
                            </div>
                        </div><!-- valign -->
                    </div><!-- end miniservice -->
                </div><!-- col-lg-6 -->
            </div><!-- end col-lg-8 -->
        </div>

    </div><!-- end container -->
</section>

<section class="section-whitebg dm-shadow">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="bigtitle">NOSSOS PRODUTOS</h2>
            <h4 class="lead">Temos uma linha completa para o que você precisa! Dê uma olhada em nossos produtos</h4>
            <hr>
        </div><!-- end section-title -->

        <div class="general_wrapper clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="shop_item">
                    <div class="b-link-flow b-animate-go clearfix">
                        <a href=""@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "AmareloVivoLeitoso", line="Tacas"})" class="b-link-fade b-animate-go">
                            <img src="~/Content/images/products/catalog_tacas.jpg" alt="">
                            <div class="b-wrapper">
                                <span class="icon-left b-animate b-delay02">
                                </span>
                            </div>
                        </a>
                    </div><!-- animate -->
                    <div class="text-center clearfix" style="padding-bottom: 30px;">
                        <div class="servicetitle">
                            <h3>TAÇAS</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="shop_item">
                    <div class="b-link-flow b-animate-go clearfix">
                        <a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "AzulCristal", line= "Copos" })" class="b-link-fade b-animate-go">
                            <img src="~/Content/images/products/catalog_copos.jpg" alt="">
                            <div class="b-wrapper">
                                <span class="icon-left b-animate b-delay02">
                                </span>
                            </div>
                        </a>
                    </div><!-- animate -->
                    <div class="text-center clearfix" style="padding-bottom: 30px;">
                        <div class="servicetitle">
                            <h3>COPOS</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="shop_item">
                    <div class="b-link-flow b-animate-go clearfix">
                        <a href="@Url.Action(actionName: "Index", controllerName: "ProductsVmk", routeValues: new { product = "AmareloLeitoso", line= "Canecas" })" class="b-link-fade b-animate-go">
                            <img src="~/Content/images/products/catalog_canecas.jpg" alt="">
                            <div class="b-wrapper">
                                <span class="icon-left b-animate b-delay02">
                                </span>
                            </div>
                        </a>
                    </div><!-- animate -->
                    <div class="text-center clearfix" style="padding-bottom: 30px;">
                        <div class="servicetitle">
                            <h3>CANECAS</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="shop_item">
                    <div class="b-link-flow b-animate-go clearfix">
                        <a href="@Url.Action(actionName: "Index", controllerName: "ProductsKa", routeValues: new { product = "Azul", line= "FrascosGrandes"})" class="b-link-fade b-animate-go">
                            <img src="~/Content/images/products/catalog_frascos.jpg" alt="">

                            <div class="b-wrapper">
                                <span class="icon-left b-animate b-delay02">
                                </span>
                            </div>
                        </a>
                    </div><!-- animate -->
                    <div class="text-center clearfix" style="padding-bottom: 30px;">
                        <div class="servicetitle">
                            <h3>FRASCOS</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- end container -->
</section>

<section id="one-parallax" class="parallax section-transparentbg" style="background-image: url('../../Content/images/products/bg1.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="overlay">
        <div class="container">
            <div class="section-title text-center">
                <i data-effect="helix" class="dm-icon fa fa-beer fa-4x"></i>
                <h2 class="bigtitle">SE INTERESSOU POR NOSSOS PRODUTOS?</h2>
                <h4 class="lead">Solicite um orçamento agora mesmo e iremos contatá-lo com toda a nossa atenção.</h4>
                <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Budget")"><i class="fa fa-dollar"></i>  SOLICITAR UM ORÇAMENTO </a>
            </div><!-- end section-title -->
        </div><!-- end container -->
    </div><!-- end overlay -->
</section><!-- end section-transparentbg -->

<section class="section-single dm-shadow" style="padding-bottom: 85px;">
    <div class="container">

        <div class="section-title text-center">
            <h2 class="bigtitle">NOSSA EXPERIÊNCIA DE MERCADO</h2>
            <h4 class="lead">Com mais de 15 anos de mercado e sempre atendendo nossos clientes com satisfação</h4>
        </div><!-- end section-title -->

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="widget effect-slide-left in" data-effect="slide-left" style="transition: all 0.7s ease-in-out;">
                <img class="img-responsive img-thumbnail" alt="" src="~/Content/images/products/bg_box.jpg">
            </div>
        </div><!-- end col-lg-6 -->

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="widget clearfix">
                <div class="services_lists text-center">

                    <div class="services_lists_boxes clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="services_lists_boxes_icon service-icon effect-slide-bottom in" data-effect="slide-bottom" style="transition: all 0.7s ease-in-out;">
                                <div class="dm-icon-effect-1">
                                   <i class="hovicon effect-1 sub-a fa fa-dollar fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="servicetitle">
                                <h3>PREÇOS</h3>
                            </div>
                            <p>Com preços condizentes no mercado procuramos sempre atender da melhor maneira as necessidades dos nossos clientes.</p>
                        </div>
                    </div><!-- services_lists_boxes -->

                    <div class="services_lists_boxes clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="services_lists_boxes_icon service-icon effect-slide-bottom in" data-effect="slide-bottom" style="transition: all 0.7s ease-in-out;">
                                <div class="dm-icon-effect-1">
                                  <i class="hovicon effect-1 sub-a fa fa-star fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="servicetitle">
                                <h3>LANÇAMENTOS</h3>
                            </div>
                            <p>Constantemente estamos sempre tentando nos reinventar em nossos produtos, com isto lançamos diversos novos itens no mercado de plásticos.</p>
                        </div>
                    </div><!-- services_lists_boxes -->

                    <div class="services_lists_boxes clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="services_lists_boxes_icon service-icon effect-slide-bottom in" data-effect="slide-bottom" style="transition: all 0.7s ease-in-out;">
                                <div class="dm-icon-effect-1">
                                   <i class="hovicon effect-1 sub-a fa fa-check fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="servicetitle">
                                <h3>EXCELÊNCIA</h3>
                            </div>
                            <p>Com mais de 15 de experiência no desenvolvimento de nossos produtos no mercado vamos sempre lhe proporcionar o melhor produto.</p>
                        </div>
                    </div><!-- services_lists_boxes -->

                    <div class="services_lists_boxes clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="services_lists_boxes_icon_none service-icon effect-slide-bottom in" data-effect="slide-bottom" style="transition: all 0.7s ease-in-out;">
                                <div class="dm-icon-effect-1">
                                    <i class="hovicon effect-1 sub-a fa fa-heart fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="servicetitle">
                                <h3>SATISFAÇÃO</h3>
                            </div>
                            <p>Procuramos sempre atender o que os nossos clientes estão buscando em nossos produtos trazendo assim a garantia de satisfação.</p>
                        </div>
                    </div><!-- services_lists_boxes -->

                </div><!-- services_lists -->
            </div><!-- end widget -->
        </div><!-- end col-lg-6 -->

        <div class="clearfix"></div>

    </div><!-- end container -->
</section><!-- end section-single -->

<section class="section-colorizedbg">
    <div class="container">
        <div class="message clearfix text-center">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <h2 class="bigtitle">FICOU COM ALGUMA DÚVIDA? ENTRE EM CONTATO CONOSCO</h2>
                <p class="lead">Caso tenha alguma dúvida com relação a nossos produtos entre em contato conosco agora mesmo por telefone, email ou através do facebook</p>
            </div><!-- col-lg-9 -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 leftbutton">
                <a class="btn btn-round btn-lg pull-right" style="color: #080e73; padding-left: 30px; padding-right: 30px;" href="@Url.Action("Index", "Contact")"><i class="fa fa-envelope"></i>   CONTATO</a>
            </div><!-- end col-lg-3 -->
        </div>
    </div><!-- end container -->
</section><!-- end section-transparentbg -->

<div id="responsive_map"></div>